<footer>
	
    
    <div class="footer-copyright text-center py-3">
      Site créé par Mélanie Francois - avec amour. Tous droits réservés © 2020
    </div>

</footer>

  {{ $js := resources.Get "js/lmio.js" }}
  {{ with $js }}
    <script src="{{ $js.Permalink }}" async></script>
  {{ end }}