<script>
function collapseMenu()
{
	document.getElementById('collapse-button').click();
}
</script>

<header>
<div class="container-fluid">
	<div class="row">
		<nav class="navbar navbar-expand-md navbar-light bg-secondary fixed-top">
		  	<div class="container">
		    	<a class="navbar-brand" href="#"></a>
			    <button id="collapse-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"  aria-expanded="false">
			      	<span class="navbar-toggler-icon"></span>
			    </button>
		
			    <div class="collapse navbar-collapse" id="navbarResponsive">
			      	<ul class="navbar-nav ml-auto nav-pills nav-fill">
						<li class="nav-item">
							<a class="nav-link" href="" onclick="collapseMenu();">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#a-propos" onclick="collapseMenu();">À propos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#mes-services" onclick="collapseMenu();">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#mes-projets" onclick="collapseMenu();">Réalisations</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#contact" onclick="collapseMenu();">Contact</a>
						</li>
					</ul>
			    </div>

			</div>
		</nav>

	</div>
</div>
<!-- <div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div> -->
</header>
		
		
