<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/png" href="{{ "favicon.ico" | absURL }}"/>
<meta name="description" content="Conseil et création de site internet : je vous assiste pour créer ou refondre votre site web et optimiser votre présence en ligne grâce au référencement et au marketing.">
<meta name="theme-color" content="#ecc43c">
<meta name="google-site-verification" content="R8UiQHqbKY06jcI8HkzR8lXDg6nqSW2k4__FBtyCSF0" />


	
{{ if .Site.IsServer }}
	{{ $options := (dict "targetPath" "style.css" "enableSourceMap" true "includePaths" (slice "node_modules/bootstrap/scss")) }}
	{{ $style := resources.Get "scss/main.scss" | toCSS $options }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ else }}
	{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "includePaths" (slice "node_modules/bootstrap/scss")) }}
	{{ $style := resources.Get "scss/main.scss" | toCSS $options | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}


<title>{{ .Site.Title }}</title>
		