{{ define "main" }}

	<div class="intro" >					
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
					<div>
						<h1>
							Je suis Mélanie François,<br/>
							<span>développeuse web freelance.</span>
						</h1>
						<p>
							Mes compétences techniques et mon expérience peuvent vous être utiles pour tous vos projets web, comme réaliser un site vitrine, ou refondre un site déjà existant pour lui apporter plus de dynamisme. Contactez moi pour discuter de votre idée !
						</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-3 col-xs-2 lampe">
					<img src="{{ "/img/idea.svg" | absURL }}" alt="Ampoule pour symboliser l'idée" class="img-fluid rotation20" >
				</div>
			</div>
		</div>


		<div class="wave">
			<img src="/img/bg-wave.svg" alt="Forme de vague" titre="Forme de vague" class="img-fluid">
		</div>
	</div><!-- Fin du bloc intro-->


	<div class="presentation" id="a-propos">
		<div class="container">
			<div class="row">
				<div class="order-0 order-xs-1 col-xs-12 col-sm-8 col-md-7 about">
					<h2>À propos de moi</h2>
					<p>Après l'obtention d'un master en Marketing Digital, je me suis réorientée dans des études de développement afin de pouvoir maitriser tous les aspects d'un projet web. <br><br>Je peux facilement développer votre site, vous conseiller sur le design, ou encore optimiser son référencement. Petit couteau suisse de la création de site web, je me suis lancée en tant que freelance.</p>
				</div>
				<div class="order-1 order-xs-0 col-xs-12 col-sm-4 col-md-5 photo">
					<img src="/img/photo.jpg" alt="Mélanie François" titre="Mélanie François" class="img-fluid">
				</div>
			</div>
		</div>
	</div>


	<div class="services" id="mes-services">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>Mes services</h2>
				</div>
		<!--div class="col-12">
				<p> Ayant cumulé une école de commerce, des expériences en marketing et communication digital, et des études d'informatique, mon profil atypique me permet de rassembler des compétences complémentaires, afin de m’orienter sur un poste à la fois technique et stratégique. </p>

			</div>
		</div>-->
		<div class="col-xs-12 col-sm-6 col-md-4 bloc-service">
			<div class="icones">
				<i class="fas fa-code"></i>
			</div>
			<h3>Développement web</h3>
			<p> Tous les sites web que je conçois sont responsives: le contenu s’adapte à la taille de l’écran, qu’il soit consulté depuis un ordinateur, un smartphone ou une tablette. Je choisi la meilleure solution technique adaptée à vos besoins.</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 bloc-service">
			<div class="icones">
				<i class="fas fa-chart-line"></i>
			</div>
			<h3>Référencement</h3>
			<p>Avoir un site web c’est bien, avoir un site visible, c’est mieux ! J'optimise au mieux le référencement naturel (classement dans les moteurs de recherche) de votre site web.</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 bloc-service">
			<div class="icones">
				<i class="fas fa-user-check"></i>
			</div>
			<h3>Ergonomie</h3>
			<p>Un site efficace se doit d'être simple, clair, avec des contenus hiérarchisés de manière pertinente afin que chaque visiteur puisse trouver simplement l'information qu'il vient chercher. Si besoin, je peux vous conseiller pour votre site.</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 offset-md-2 bloc-service">
			<div class="icones">
				<i class="fas fa-paint-brush"></i>
				<!--<i class="fas fa-palette"></i>-->
			</div>
			<h3>Web-design</h3>
			<p>Un site unique pour un client unique ! Je mets ma créativité à votre disposition pour vous proposer un site web au design moderne et épuré, qui correspond à votre image.</p>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 bloc-service">
			<div class="icones">
				<i class="fas fa-smile-beam"></i>
			</div>
			<h3>Efficacité</h3>
			<p>Je suis avant tout à votre écoute pour vous aider à réaliser efficacement votre projet web, afin de faire de notre collaboration une belle réussite. Client heureux = freelance heureuse !</p>
		</div>
	</div>

</div>
</div> <!-- Fin du bloc services -->

<div class="experiences" id="mes-projets">
	<div class="container">
		<div class="row">  

			<div class="col-12">
				<h2>Mes derniers projets</h2>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4 projet">

				<img src="/img/nouveau_projet.PNG" alt="votre projet ici" class="img-fluid" />
				<p><br>- En cours -</p>
				<h4>VOTRE ENTREPRISE ?</h4> 	
			</div>

			<!--Boucle des projets -->
			{{ range .Site.RegularPages }}

			<div class="col-xs-12 col-sm-6 col-md-4 projet">

				{{ $contentPage := .Page }}
				{{ $siteweb := .Params.siteweb}}				
				{{ with index (.Resources.Match .Params.image) 0 }}
				<a href="{{ $siteweb }}" target="_blank">
					<img src="{{ .Permalink }}" alt="réalisation" class="img-fluid" />
				</a>
				
				{{ end }}

				<p> <br>{{ .Params.domaine }} </p>
				<h4>{{ .Title }}</h4> 
				
			</div>
			{{ end }}


			<!--
			{{ range .Site.RegularPages }}

				<div class="col-6">
					<h4>{{.Title}}</h4> 
					<p> {{ .Content }} </p>
				</div>

				<div class="col-6">
					{{ with index (.Resources.Match .Params.image) 0 }}
						<img src="{{ .Permalink }}" alt="{{ $.Page.Params.alt }}" class="img-fluid" />
					{{ end }}
				</div>
			{{ end }}



			<div class="col-lg-6 col-sm-6 col-12">
				
				{{ range .Site.RegularPages }}
					
					<h4>{{.Title}}</h4> 
					<p> {{ .Content }} </p>

					{{ with index (.Resources.Match .Params.image) 0 }}
						<img src="{{ .Permalink }}" alt="" />
					{{ end }}

				{{ end }}

				<ul class="list-experience">
		  
					<li>
						<div class="single-experience">
							<h4>Développeuse web</h4>
							<span>CRIP</span> 
							<span>Juin - Déc 2019</span> 
							<p>Refonte totale de leur site internet. J'ai travaillé avec HTML, CSS, BOOTSTRAP, puis le CMS Worpress.</p> 
						</div>
					</li>
				  
					<li>
						<div class="single-experience">
							<h4>Community manager</h4>
							<span>SOLEM</span> 
							<span>nov 2016 - oct 2017</span> 
							<p>blablabla</p> 
						</div>
					</li>
				  
					<li>
						<div class="single-experience">
							<h4>Assistante Marketing & Communication</h4>
							<span>JVWEB</span> 
							<span>Juin - Déc 2015</span> 
							<p>blablabla</p> 
						</div>
					</li>
				</ul>  Fin de la liste d'expérience-->

			</div>
		</div>
	</div>
	<!-- Fin du bloc expérience-->


	<div class="container">
		<hr>
	</div><!-- Fin de la ligne de séparation-->


	<div class="contact" id="contact">
		<div class="container">
			<div class="bloc-contact">
				<h2>Contact</h2>
				<div class="row infocontact">
					<div class="col-xs-12 col-sm-6 col-md-4 info">
						<h4>Téléphone :</h4>
						<span><a href="tel:+33620564978">&#43;33 (0) 6 20 56 49 78</a></span>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 info">
						<h4>Email :</h4>
						<span>
							{{ $email := $.Site.Params.contactMail }}
							<script type="text/javascript">// <![CDATA[
								// Just a way to hide your email address, at least we try (base64)
								var liame ='{{ $email | base64Encode }}';
								var liameHREF ='{{ (print "href=\"mailto:" $email "\"")  | base64Encode }}';
								document.write('<a ' + atob(liameHREF) + ' target="_blank">' + atob(liame) + '<\/a>')
							// ]]></script>
						</span>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 info">
						<h4>Adresse :</h4>
						<span>6 Rue Vanneau, Montpellier</span>
					</div>
					<div class="col-12 iconetest">
						<div class="row">
							<div class="col-2 offset-4 col-xs-6">
								<a href="https://www.linkedin.com/in/melaniefrancois/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
							</div>
							<div class="col-2 col-xs-6">
								<a href="https://twitter.com/Mel_Francois" target="_blank">
									<i class="fab fa-twitter"></i>
								</a>
							</div>
						</div>
					</div>

				</div>
					
			</div>
		</div>
	</div><!-- Fin du bloc contact-->

{{ end }}