html
{

	body
	{
		
		h1
		{
			font-size: 60px;
      		margin-bottom: 15px; 

        	font-weight: bold;

        	span 
        	{
        		color: $h1-subcolor;  
        	}
		}

		h2
		{
			color: $h2-color;
			font-size: 60px;
			margin-bottom: 20px; 
		}
		

		header{
			background-color: $bg-color;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

			.nav-item{
			
				min-height: 50px;
				padding: 5px 20px;
				font-size: 20px;
				font-family: Amiri;
			
				a:hover{
					background-color: rgba(255,255,255,0.5);
					text-decoration: none;
				}
			}
		}

		.intro
		{
			padding-top: 150px;
			background-color: $bg-color;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

			p 
			{
      			width: 70%; 
      		}

			.rotation20 {
			   transform: rotate(20deg);
			 }

			 .lampe{
			 	width: 20px;
			 	text-align: center;
			 }

			 .wave{
			 	position:relative;
			 	bottom:0px;
			 	width:100%;

			 	img{
			 		width:100%;
			 	}
			 }
			 
		}



		.presentation
		{
			.container{
				padding-top: 60px;

			}

			.about{
				padding-right: 50px;
			}


			img{
			 	display: block;
				filter: drop-shadow(0px 5px 20px rgba(0,0,0,.6));
				margin-left: auto;
				margin-right: auto;
				border-radius: 50%;
				max-height: 250px;
				text-align: center;
				vertical-align: center;
			 	}
			
		}


		.services{

			.container 
			{
			    padding-top: 100px;
			}

			.bloc-service{

				padding: 10px 20px 10px 20px;



				.icones{
				color: $yellow;
				text-align: center;
				font-size: 60px;
				padding: 10px;
				}

				h3{
				text-align: center;
				}
			}
			
		}

     

		.experiences
		{

			.container 
			{
			    padding-top: 100px;
			}

			.projet
			{
				text-align: center;

				img
				{
					display: block;
					filter: drop-shadow(0px 5px 20px rgba(0,0,0,.3));
					margin-left: auto;
					margin-right: auto;
					max-height: 60%;

				}

				img:hover{
					transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
					-webkit-transition: .3s ease-in-out;
				}
			}
		}



		.contact
		{
			// Fond noir dégradé	
			background: rgb(0,0,0);
			background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(1,1,1,1) 15%, rgba(250,250,250,1) 80%, rgba(250,250,250,0.2) 90%, rgba(255,255,255,0) 100%);
			background: -o-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(1,1,1,1) 15%, rgba(250,250,250,1) 80%, rgba(250,250,250,0.2) 90%, rgba(255,255,255,0) 100%);
			background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(1,1,1,1) 15%, rgba(250,250,250,1) 80%, rgba(250,250,250,0.2) 90%, rgba(255,255,255,0) 100%);
			
			
			.container
			{
				// Boite blanche avec dégradé noir autour
				background-color:#fff;
				box-shadow:0 42px 34px -16px rgba(0,0,0,.3);
				border-radius: 0.5%;
			}
		
			.bloc-contact
			{
			padding:50px 10px;
		 
				@media (min-width:768px)
				{
					padding: 60px 80px
				}

				form{
					//padding: 10px;

					.case{
						padding-top: 10px
					}
				}

				.infocontact{
					padding: 0px 40px;
					text-align: center;

					.info{
						padding: 10px 0px;
						text-align: center;

					}

					.iconetest{
						text-align: center;
						font-size: 30px;
						text-align: center;
						padding-top: 20px;
					}
				}
			}
		}
		
		hr{
			// Ligne de séparation dégradée
		    border: 0;
		    height: 1.1px;
		    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $hr-color, rgba(0, 0, 0, 0));
		    margin-top: 60px;

		}

		footer
		{
			padding:10px 60px 30px 60px; // Décallage haut droit bas gauche
			background-color: black;
			color: white;
			text-align: center;
		}		

	}
		
}