/////////////////////////////////////
// BOOTSTRAP 
// Permet de changer les variables par défaut de Bootstrap
/////////////////////////////////////


// COULEURS

//$darkblue: #03224C;
//$blue: #266498;
$yellow: #EBBD2E;
$bg-color : rgba(235, 189, 46,0.25); //jaune 25% transparence
$hr-color : rgba(235, 189, 46,0.85); //jaune 85% transparence

$body-bg: white;
$body-color: #293133;
$primary: #266498;
$secondary: rgba(235, 189, 46,0.90); // jaune header

$headings-font-family: 'Amiri';
$h1-subcolor: $yellow;
$h2-color: $yellow;