<script>
function collapseMenu()
{
	document.getElementById('collapse-button').click();
}
</script>

<header>
<div class="container-fluid">
	<div class="row">
		<nav class="navbar navbar-expand-md navbar-light bg-secondary fixed-top">
		  	<div class="container">
		    	<a class="navbar-brand" href="#"></a>
			    <button id="collapse-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"  aria-expanded="false">
			      	<span class="navbar-toggler-icon"></span>
			    </button>
		
			    <div class="collapse navbar-collapse" id="navbarResponsive">
			      	<ul class="navbar-nav ml-auto nav-pills nav-fill">
						<li class="nav-item">
							<a class="nav-link" href="" onclick="collapseMenu();">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#a-propos" onclick="collapseMenu();">À propos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#mes-services" onclick="collapseMenu();">Services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#mes-projets" onclick="collapseMenu();">Réalisations</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#contact" onclick="collapseMenu();">Contact</a>
						</li>
					</ul>
			    </div>

			</div>
		</nav>

	</div>
</div>

</header>
		
		


<h1> DE LA ORDEN </h1>
<p> <p>Création du site vitrine. Haut de gamme.</p>
<!-- raw HTML omitted -->
 </p>

<footer>
	
    
    <div class="footer-copyright text-center py-3">
      Site créé par Mélanie Francois - avec amour. Tous droits réservés © 2020
    </div>

</footer>

  
  
    <script src="https://www.melaniefrancois.fr/js/lmio.js" async></script>
  