<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
	<head>
		{{ partial "head.html" . }}
	</head>

    <body>
        {{ partial "header.html" . }}


        <main>
            <div id="content">
            	{{ block "main" . }}{{ end }}
            </div>

        </main>

    
        {{ partial "footer.html" . }}
    

        
    </body>
</html>
